.container {
  margin-top: 4rem;
  display: flex;
  justify-content: space-around;
  gap: 0 10rem;
}
.topSellerLeft {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.gallery {
  width: 65rem;
  display: grid;
  gap: 1.5rem;
  grid-template-areas:
    "ts1 ts1 ts2 ts2 ts2"
    "ts1 ts1 ts4 ts4 ts4"
    "ts3 ts3 ts4 ts4 ts4"
    "ts3 ts3 ts4 ts4 ts4";
}

/* price */
.price {
  width: 5.5rem;
  padding: 1rem;
  font-size: 1.5rem;
  border-bottom-left-radius: 20px;
  color: #fff;
  text-align: center;
  background: rgb(0 0 0 / 75%);
  position: absolute;
  top: 0;
  right: 0;
  transform: translateX(102%);
  transition: transform 0.5s;
}
.overHide {
  background: rgb(236, 230, 230);
  overflow: hidden;
  transition: all 0.5s;
}
.showPrice > .price {
  transform: translateX(0);
}
/* hover effect */
.hovEffect {
  cursor: pointer;
}
.hovEffect:hover {
  box-shadow: 3px 3px 6px #5f1f1f;
}
.hovEffect:hover > .price {
  transform: translateX(0);
}

.tsm {
  position: relative;
  width: 40rem;
  height: 60rem;
  background: rgb(236, 230, 230);
}
.ts1 {
  position: relative;
  grid-area: ts1;
  min-height: 35rem;
}
.ts2 {
  position: relative;
  grid-area: ts2;
  min-height: 25rem;
}
.ts3 {
  position: relative;
  grid-area: ts3;
  min-height: 15rem;
}
.ts4 {
  position: relative;
  grid-area: ts4;
  min-height: 25rem;
}

@media screen and (max-width: 1150px) {
  .gallery {
    width: 60rem;
  }
}
@media screen and (max-width: 1100px) {
  .gallery {
    width: 55rem;
  }
  .tsm {
    width: 38rem;
    height: 58rem;
  }
  .container {
    gap: 0 5rem;
  }
}
@media screen and (max-width: 990px) {
  .gallery {
    width: 50rem;
  }
  .tsm {
    width: 36rem;
    height: 56rem;
  }
}
@media screen and (max-width: 750px) {
  .gallery {
    width: 45rem;
  }
  .tsm {
    width: 34rem;
    height: 54rem;
  }
  .ts1 {
    min-height: 30rem;
  }
  .ts2 {
    min-height: 23rem;
  }
  .ts4 {
    min-height: 23rem;
  }
}
@media screen and (max-width: 650px) {
  .gallery {
    width: 40rem;
  }
  .tsm {
    width: 32rem;
    height: 48rem;
  }
  .ts1 {
    min-height: 25rem;
  }
  .ts2 {
    min-height: 20rem;
  }
  .ts4 {
    min-height: 20rem;
  }
}
@media screen and (max-width: 550px) {
  .gallery {
    width: 35rem;
  }
  .tsm {
    height: 46rem;
  }
}
@media screen and (max-width: 400px) {
  .container {
    gap: 0 2rem;
  }
  .gallery {
    width: 32rem;
  }
  .tsm {
    height: 40rem;
  }
  .ts1 {
    min-height: 22rem;
  }
  .ts2 {
    min-height: 18rem;
  }
  .ts3 {
    min-height: 12rem;
  }
  .ts4 {
    min-height: 15rem;
  }
}
@media screen and (max-width: 350px) {
  .container {
    gap: 0 1.5rem;
  }
  .gallery {
    width: 30rem;
  }
  .tsm {
    height: 40rem;
  }
}
