.container{
    width: 100%;
    padding: 1rem;
    text-align: center;
}
.rights{
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    letter-spacing: .8px;
    color: rgb(0, 0, 0);
}
.disclaimer{
    margin-top: 1rem;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    letter-spacing: .5px;
}