.headContainer{
    padding: .5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.heading{
    font-family: 'Roboto', sans-serif;
    font-size: 4rem;
    letter-spacing: 3px;
    text-transform: capitalize;
}
.headLineContainer{
    padding: .5rem;
}
.headLine{
    width: 6rem;
    height: 1px;
    background: black;
}