.container{
    width: 100%;
    margin: 4rem auto;
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
    align-items: center;
    justify-content: space-around;
}
.brandImage{
    width: 15rem;
    height: 10rem;
    position: relative;
}