.container {
  position: relative;
  padding: 1rem;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border-radius: 10px;
  background: rgb(238, 229, 229);
  box-shadow: 0 0 8px rgb(255, 139, 86);
}

.close {
  width: 3rem;
  height: 3rem;
  font-size: 2rem;
  font-family: sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 1.5rem;
  top: 1.5rem;
  border-radius: 100%;
  transition: all 0.4s;
  cursor: pointer;
}
.close:hover {
  color: red;
  box-shadow: 0 0 5px red;
}
.details {
  width: 100%;
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  gap: 0 2rem;
  justify-content: space-between;
}

.left {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.prodImg {
  position: relative;
  width: 40rem;
  height: 25rem;
  background: rgb(236, 230, 230);
}
.prodImg > div {
  border-radius: 15px;
  box-shadow: 0 0 6px rgb(247, 63, 63);
}
.name {
  margin-top: 1rem;
  font-family: "Roboto", sans-serif;
  font-size: 3rem;
  letter-spacing: 1px;
  text-decoration: underline;
  text-align: center;
}

.right {
  width: 50%;
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  font-weight: bolder;
  letter-spacing: 0.5px;
  display: flex;
  flex-direction: column;
  gap: 2rem 0;
  align-items: flex-start;
}
.rightDetailsValue {
  font-weight: normal;
}
.price {
  position: relative;
  font-weight: normal;
  font-size: 1.5rem;
  margin-left: 0.5rem;
  opacity: 0.8;
}
.cutLine {
  width: 55%;
  height: 0.2rem;
  position: absolute;
  left: 50%;
  bottom: 0;
  background-color: black;
  transform: rotate(45deg) translateX(-50%);
}
.desc {
  display: flex;
  gap: 0 1rem;
}

.ctaContainer {
  display: flex;
  align-items: center;
  gap: 0 4rem;
}
.btnCta {
  width: 25rem;
  height: 4rem;
  border-radius: 15px;
  font-size: 1.8rem;
  font-weight: bold;
  letter-spacing: 0.5px;
  color: #fff;
  border: 2px solid rgb(197, 87, 87);
  background: rgb(197, 87, 87);
  cursor: pointer;
  transition: all 0.3s;
}
.btnCta:hover {
  color: rgb(197, 87, 87);
  border: 2px solid rgb(197, 87, 87);
  background: #fff;
}

@media screen and (max-width: 1200px) {
  .prodImg {
    width: 40rem;
  }
}
@media screen and (max-width: 1000px) {
  .prodImg {
    width: 40rem;
    height: 28rem;
  }
  .details {
    flex-direction: column;
    gap: 5rem 0;
  }
  .left {
    width: 100%;
  }
  .right {
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem 3rem;
  }
}
@media screen and (max-width: 600px) {
  .ctaContainer {
    justify-content: space-around;
  }
  .btnCta {
    width: 20rem;
  }
}
@media screen and (max-width: 350px) {
  .prodImg {
    width: 35rem;
    height: 25rem;
  }
  .btnCta {
    width: 18rem;
  }
}
@media screen and (max-width: 300px) {
  .btnCta {
    width: 15rem;
  }
  .right {
    justify-content: center;
  }
}
