.collectionSection {
  border-bottom: 1px solid #000;
}

.container {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* price */
.price{
  width: 5.5rem;
  padding: 1rem;
  font-size: 1.5rem;
  border-bottom-left-radius: 30px;
  color: #fff;
  text-align: center;
  background: rgb(0 0 0 / 75%);
  position: absolute;
  top: 0;
  right: 0;
  transform: translateX(102%);
  transition: transform .5s;
}
.overHide {
  overflow: hidden;
  transition: all 0.5s;
}
.showPrice > .price {
  transform: translateX(0);
}
/* hover effect */
.hovEffect{
  cursor: pointer;
}
.hovEffect:hover {
  box-shadow: 3px 3px 6px #5f1f1f;
}
.hovEffect:hover >.price{
  transform: translateX(0);
}

/* gallery 1 */
.firstGrid {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 0 4rem;
}
.gallery1 {
  width: 85rem;
  display: grid;
  gap: 1.5rem;

  grid-template-areas:
    "c1 c1 c2 c2 c5 c5"
    "c3 c3 c2 c2 c6 c6"
    "c3 c3 c4 c4 c6 c6"
    "c3 c3 c4 c4 c6 c6";
}

.g1car {
  position: relative;
  width: 35rem;
  height: 50rem;
}
.g1col1 {
  position: relative;
  grid-area: c1;
  min-height: 22rem;
}
.g1col2 {
  position: relative;
  grid-area: c2;
}
.g1col3 {
  position: relative;
  grid-area: c3;
  max-height: 24rem;
}
.g1col4 {
  position: relative;
  grid-area: c4;
}
.g1col5 {
  position: relative;
  grid-area: c5;
  min-height: 24rem;
}
.g1col6 {
  position: relative;
  grid-area: c6;
  min-height: 24rem;
}

/* gallery 2 */
.secondGrid {
  margin-top: 2rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 0 4rem;
}
.gallery2 {
  width: 60rem;
  display: grid;
  gap: 1.5rem;
  grid-template-areas:
    "c7 c7 c8 c8 c8"
    "c7 c7 c8 c8 c8"
    "c7 c7 c10 c10 c10"
    "c9 c9 c10 c10 c10"
    "c9 c9 c10 c10 c10";
}

.g2car1 {
  position: relative;
  width: 30rem;
  height: 50rem;
}
.g2car2 {
  position: relative;
  width: 30rem;
  height: 50rem;
}
.g2col1 {
  position: relative;
  grid-area: c7;
  /* min-height: 35rem; */
}
.g2col2 {
  position: relative;
  grid-area: c8;
  min-height: 25rem;
}
.g2col3 {
  position: relative;
  grid-area: c9;
  min-height: 15rem;
}
.g2col4 {
  position: relative;
  grid-area: c10;
  min-height: 25rem;
}

@media screen and (max-width: 750px) {
  
  .gallery1{
    width: 80rem;
  }
  .g1car{
    height: 48rem;
  }
  .g1col5{
    min-height: 22rem;
  }
  .g1col6{
    min-height: 22rem;
  }
  .gallery2{
    width: 55rem;
  }
  .g2car1{
    height: 48rem;
  }
  .g2car2{
    height: 48rem;
  }
  .g2col2{
    min-height: 22rem;
  }
  .g2col4{
    min-height: 22rem;
  }
}
@media screen and (max-width: 700px) {
  
  .gallery1{
    width: 75rem;
  }
  .g1car{
    height: 46rem;
  }
  .g1col1{
    min-height: 20rem;
  }
  .g1col6{
    min-height: 20rem;
  }
  .gallery2{
    width: 50rem;
  }
  .g2car1{
    height: 46rem;
  }
  .g2car2{
    height: 46rem;
  }
  .g2col2{
    min-height: 20rem;
  }
  .g2col4{
    min-height: 20rem;
  }
}
@media screen and (max-width: 650px) {
  .gallery1{
    width: 70rem;
  }
  .g1car{
    height: 44rem;
  }
  .g1col6{
    min-height: 18rem;
  }
  .gallery2{
    width: 45rem;
  }
  .g2car1{
    height: 44rem;
  }
  .g2car2{
    height: 44rem;
  }
}
@media screen and (max-width: 600px) {
  .firstGrid{
    justify-content: center;
  }
  .gallery1{
    width: 70rem;
  }
  .g1car{
    display: none;
  }
  .g1col5{
    min-height: 20rem;
  }
  .secondGrid{
    justify-content: center;
  }
  .gallery2{
    width: 40rem;
  }
  .g2car1{
    display: none
  }
  .g2car2{
    width: 26rem;
  }
}
@media screen and (max-width: 450px) {
  .secondGrid{
    gap: 0 2rem;
  }
  .g2car2{
    height: 42rem;
  }
}
@media screen and (max-width: 350px) {
  .secondGrid{
    gap: 0 2rem;
  }
  .gallery2{
    width: 38rem;
  }
  .g2car2{
    height: 40rem;
  }
  .g2col4{
    min-height: 18rem;
  }
}
