.nav {
  width: 100%;
  height: 8rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.iconContainer {
  display: inline-block;
  position: relative;
  cursor: pointer;
}
.icon {
  width: 8rem;
  height: 6rem;
  display: flex;
  align-items: flex-end;
}
.sungIcon {
  font-size: 4.5rem;
  position: absolute;
  top: -0.5rem;
  right: 0;
  transition: color 0.3s;
}
.icon:hover > .sungIcon {
  color: #d85552;
}

.iconName {
  font-family: "Allura", cursive;
  font-size: 4rem;
  letter-spacing: 2px;
}

.navRight {
  display: flex;
  align-items: center;
  gap: 0 3.5rem;
}

.user {
  font-size: 3rem;
  border-radius: 100%;
  transition: all 0.4s;
  cursor: pointer;
}
.user:hover {
  box-shadow: 0 0 6px #0400ff;
  color: #0400ff;
}

.cartContainer {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.cartContainer:hover > .cartIcon {
  color: #da5252;
}
.cartIcon {
  font-size: 3.5rem;
  transition: color 0.4s;
}
.cartText {
  margin-left: 0.3rem;
  font-family: "Sulphur Point", sans-serif;
  font-size: 2rem;
  letter-spacing: 0.4px;
  color: black;
}
.itemsNum {
  margin-left: 0.3rem;
  font-size: 2.5rem;
  color: #da5252;
}
.menuBtnContainer {
  font-size: 2.5rem;
  display: none;
  cursor: pointer;
  z-index: 3500;
}
.menuBar {
  color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
}
.closeBtn {
  display: none;
  color: red;
}

@media screen and (max-width: 560px) {
  .nav {
    padding: 0 2rem;
  }
  .menuBtnContainer {
    display: block;
  }
}
