.nav {
  width: 100%;
  height: 8rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.iconContainer {
  display: inline-block;
  position: relative;
  cursor: pointer;
}
.icon {
  width: 8rem;
  height: 6rem;
  display: flex;
  align-items: flex-end;
}
.sungIcon {
  font-size: 4.5rem;
  position: absolute;
  top: -0.5rem;
  right: 0;
  transition: color 0.3s;
}
.icon:hover > .sungIcon {
  color: #d85552;
}

.iconName {
  font-family: "Allura", cursive;
  font-size: 4rem;
  letter-spacing: 2px;
}

.navRight {
  display: flex;
  align-items: center;
  gap: 0 1rem;
}
.userIcon {
  font-size: 3rem;
  border-radius: 100%;
  transition: all 0.4s;
  cursor: pointer;
}
.userIcon:hover {
  box-shadow: 0 0 6px #0400ff;
  color: #0400ff;
}
.loginMsg {
  width: 5.5rem;
  padding: 0.35rem 0;
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  letter-spacing: 0.5px;
  text-align: center;
  position: absolute;
  top: 2.9rem;
  left: -4.5rem;
  background: rgb(20, 20, 20);
  color: white;
  border-radius: 10px;
  border-top-right-radius: unset;
  box-shadow: 0 0 5px #0400ff;
  transform: scale(0);
  transform-origin: top right;
  transition: transform 0.3s;
}
.userIcon:hover ~ .loginMsg {
  transform: scale(1);
}

.userLoggedIn {
  position: relative;
}
.userNameBtn {
  width: 6rem;
  border: none;
  background: transparent;
  font-size: 2rem;
  overflow-x: hidden;
  cursor: pointer;
}
.userActionsContainer {
  position: absolute;
  top: 2.2rem;
  right: 3rem;
  padding: 1rem 0;
  background: #fff;
  box-shadow: 0 0 5px rgb(66, 66, 66);
  border-radius: 15px;
  border-top-right-radius: 0;
  transform: scale(0);
  transform-origin: right top;
  transition: 0.4s;
  z-index: 1;
}
.userNameBtnClk {
  transform: scale(1);
}
.userAction {
  width: 100%;
  margin: 0.5rem 0;
  padding: 0 1rem;
  border: none;
  background: none;
  font-size: 1.6rem;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.5px;
  cursor: pointer;
}
.userAction:hover {
  background: #b4b4b4;
}
.userIconContainer {
  position: relative;
}

.cartContainer {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.cartContainer:hover > .cartIcon {
  color: #da5252 !important;
}
.cartIcon {
  font-size: 3.5rem;
  transition: color 0.4s;
}
.cartText {
  width: 6rem;
  margin-left: 0.3rem;
  font-family: "Sulphur Point", sans-serif;
  font-size: 2rem;
  letter-spacing: 0.4px;
  color: black;
}
.itemsNum {
  margin-left: 0.3rem;
  font-size: 2.5rem;
  color: #da5252;
}
.menuBtnContainer {
  font-size: 2.5rem;
  display: none;
  cursor: pointer;
  z-index: 3500;
}
.menuBar {
  color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
}
.closeBtn {
  display: none;
  color: red;
}

@media screen and (min-width: 1024px) {
  .userNameBtn:hover {
    color: #d85552;
  }
  .userNameBtn:hover + .userActionsContainer {
    transform: scale(1);
  }
  .userActionsContainer:hover {
    transform: scale(1);
  }
}

@media screen and (max-width: 700px) {
  .nav {
    height: 10rem;
    padding: 0 2rem;
  }
  .iconName {
    font-size: 4.5rem;
  }
  .sungIcon {
    top: -0.6rem;
  }
  .user {
    font-size: 3.5rem;
  }
  .cartIcon {
    font-size: 4rem;
  }
  .cartText {
    font-size: 2.2rem;
  }
}
@media screen and (max-width: 620px) {
  .menuBtnContainer {
    font-size: 3.2rem;
    display: block;
  }
}
@media screen and (max-width: 330px) {
  .navRight {
    gap: 0 2rem;
  }
}
