@import url("https://fonts.googleapis.com/css2?family=Allura&family=Sulphur+Point:wght@600&family=Roboto:wght@200&display=swap");
/* global reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
  overflow-x: hidden;
  background: rgba(241, 241, 241, 0.35);
}

section {
  /*TOP      left*/
  /*bottom   right*/
  padding: 4rem 0;
}

header {
  width: 100%;  
  background: #c4c4c4;
}

img {
  width: 100%;
  max-width: 100%;
}
a {
  text-decoration: none;
}

.container {
  width: 100%;
  max-width: 130rem;
  margin: 0 auto;
  padding: 0 3rem;
}
.container-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}